<nav>
    <ul>
    <li>
    <%= link_to 'Artists', artists_path %>
    <li>
    <%= link_to 'Add Artist', new_artist_path %>
    <li>
    <%= link_to 'Songs', songs_path %>
    <li>
    <%= link_to 'Add Songs', new_song_path %>
    </li>
    </ul>
    </nav>